body{
  background-color: rgb(60, 80, 117);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 800px;
}
div {
  background-color: rgb(151, 151, 151);
  display: flex;
  flex: 1;
}
header {
  background-color: rgb(253, 253, 253);
  height: auto;
}
nav {
  background-color: rgb(226, 226, 226);
  width: 150px;
}
li {
  text-align: left;
  margin-left: 20px;
  padding-left: 0px;
}
main {
  background-color: silver;
  flex: 1;
}
img {
  vertical-align: bottom;
}
aside {
  background-color: rgb(226, 226, 226);
  width: 150px;
}
footer {
  background-color: rgb(82, 132, 173);
  height: 100px;
}
.dia{
  text-align: left;
  color: #111111;
}
h1{
  margin: 0;
  text-align: center;
  font-family: "Comic Sans MS", sans-serif;
}
h3{
  text-align: center;
}
h3.menu{
  margin-bottom: 0em;
  margin-left: 0px;
}
hr{
  margin: 0;
}
p{
  background-color: teal;
  text-align: center;
  margin: 0;
}
table{
  margin: auto;
}
:visited{
  color: black;
}
:link{
  color: black;
}
td{
  width: 60px;
}
a{
  text-decoration: none;
}
.blink{
  animation: blinkAnime 1s infinite normal;
}
@keyframes blinkAnime{
  0% { opacity: 1;}
  100% { opacity: 0;}
}
@media screen and (max-width: 900px) {
  body, nav, aside {
    width: 100%;
  }
  div {
    flex-direction: column;
  }
  main {
    order: -1;
  }
}